.venv/
.ipynb_checkpoints/
__pycache__/
.idea/

# Python
*.pyc

# Env
.env
myvenv/
venv/
fast_env/
env/

# Database
db.sqlite3
eastvantage.db

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
